In [6]:
from PIL import Image
import pandas as pd
import os

In [7]:
image_file = "test_data"

In [8]:
all_images = os.listdir(image_file)

image_files = [os.path.join(image_file, image) for image in all_images]

image_files

['test_data\\20240826_184159.jpg',
 'test_data\\20250213_165625.jpg',
 'test_data\\20250217_081138.jpg',
 'test_data\\20250219_084504.jpg']

In [9]:
image_list = []
for file in image_files:
    image = Image.open(file)
    image_name = os.path.basename(file)
    exifdata = image._getexif()
    date_time, localisation = None, None
    if exifdata:
        for tag_id, value in exifdata.items():
            tag = Image.ExifTags.TAGS.get(tag_id, tag_id)
            if tag == "DateTime":
                date_time = value
                print("Date et heure de la photo:", date_time)
            elif tag == "GPSInfo":
                localisation = value
                print("Localisation de la photo:", localisation)

        image_list.append((image_name, file, date_time, localisation))

    else:
        print("Aucune donnée EXIF trouvée.")

image_list

Date et heure de la photo: 2024:08:26 18:41:59
Date et heure de la photo: 2025:02:13 16:56:25
Date et heure de la photo: 2025:02:17 08:11:38
Localisation de la photo: {1: 'N', 2: (48.0, 24.0, 43.5582), 3: 'W', 4: (71.0, 3.0, 4.06764)}
Date et heure de la photo: 2025:02:19 08:45:04

[('20240826_184159.jpg',
  'test_data\\20240826_184159.jpg',
  '2024:08:26 18:41:59',
  None),
 ('20250213_165625.jpg',
  'test_data\\20250213_165625.jpg',
  '2025:02:13 16:56:25',
  None),
 ('20250217_081138.jpg',
  'test_data\\20250217_081138.jpg',
  '2025:02:17 08:11:38',
  None),
 ('20250219_084504.jpg',
  'test_data\\20250219_084504.jpg',
  '2025:02:19 08:45:04',
  {1: 'N', 2: (48.0, 24.0, 43.5582), 3: 'W', 4: (71.0, 3.0, 4.06764)})]

In [10]:
df = pd.DataFrame(list(image_list), columns=["Image", "Path", "Date", "Place"])

df

,Image,Path,Date,Place
0,20240826_184159.jpg,test_data\20240826_184159.jpg,2024:08:26 18:41:59,None
1,20250213_165625.jpg,test_data\20250213_165625.jpg,2025:02:13 16:56:25,None
2,20250217_081138.jpg,test_data\20250217_081138.jpg,2025:02:17 08:11:38,None
3,20250219_084504.jpg,test_data\20250219_084504.jpg,2025:02:19 08:45:04,"{1: 'N', 2: (48.0, 24.0, 43.5582), 3: 'W', 4: ..."

In [11]:
df.to_csv("test_data.csv", index=False)